<html>
    <head>
        <title>Pegawai | Create</title>
    </head>
    <body>
        <form method="POST" action="/pegawais">
            <label for="nama">Nama</label>
            <br>
            <input type="text" name="nama"/>
            <br>
            <label for="status">Status</label>
            <br>
            <input type="text" name="status"/>
            <br>
            <label for="jabatan">Jabatan</label>
            <br>
            <input type="text" name="jabatan"/>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>